ul#menu_horizontal { 
width : 100%; 
height : 30px;
margin : 2em 0 0 0;
padding : 0;
background-color : #f4f9fd;
border : 1px dashed black;
list-style-type : none; 
}
 
ul#menu_horizontal li {
padding : 0 0.5em;  
line-height : 30px;
}
 
ul#menu_horizontal li.bouton_gauche {
float : left;
border-right : 1px dashed black; 
}
 
ul#menu_horizontal li.bouton_droite {
float : right;
border-left : 1px dashed black;
}
 
ul#menu_horizontal a {
color : black;
text-decoration : none;
padding : 0 0.5em; 
font :  0.8em "Trebuchet MS";
}
 
ul#menu_horizontal a:hover { text-decoration : underline; }
 
ul#menu_horizontal a img { 
border : none;
padding :  0 0.3em;
}

/* MENU */
body{
	background-color:#FAFAFA;
}
div.comp {
	background-color:#EEEEEE;
 width : 20%;
 margin : 2%;
 min-width : 250px;
 height : 250px;
 border : 1px solid #F5F5F5;
 -moz-border-radius:7px;
 -webkit-border-radius:7px;
 border-radius:7px;
 float:left;
 display : inline-block;
 }

 div.comp h1{
 	font-size :20px;
 	text-align:center;
 	color:#1A237E;
 }

 div.content{
 	min-width : 100%;
 }

 div.content img{
 	heigth : 120px;
 	width : 120px;
 	align:middle;
 }
